body {
    font-family: 'Poppins', sans-serif;
    background-image: url("assets/plant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    max-width: 450px; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 40%;
}
.form {
    background-color: white;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.credentials,
.lock {
    margin-bottom: 20px; 
    border-bottom: 2px solid black;
    width: 80%; 
    margin: 0 auto 20px auto; 
}
.credentials:focus-within, 
.lock:focus-within {
    border-bottom: 2px solid rgb(38, 96, 38);
}
.credentials:focus-within svg, 
.lock:focus-within svg {
    fill: #4d9737; 
    transition: fill 0.3s ease-in-out;
}
input[type="email"],
input[type="password"] {
    border-style: none;
    outline: none;
    width: 85%; 
    padding: 5px; 
    font-size: 14px; 
}
label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input::placeholder {
    color: #aaa; 
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}

.account button {
    background-color: #4d9737;
    border-radius: 20px;
    border: none;
    color: white;
    width: 80%;
    height: 45px;
    font-size: 16px; 
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-bottom: 20px;
}
.account button:hover {
    background-color: rgb(28, 70, 28); 
}
button a{
    text-decoration: none;
    color: white;
}
button a:hover{
    text-decoration: none;
    outline: none;
    color: white;
}
.forgetPass{
    display: flex;
    justify-content: end;
}
.forgetPass a{
   
font-size:13px
}
.logo p{
    font-weight: bold;
}
.new p, .new a{
font-size: 12px;
}
