/* :root{
    --themeColor :#4d9737;
    --themeShade : rgb(38, 96, 38);
    --basic : white;
    --inputShade : #aaa;
    --labelShade : #333;
}
body {
    font-family: 'Poppins', sans-serif;
    background-image: url("assets/plant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 40%;
}
.logo p{
    font-weight: bold;
}
.container {
    width: 100%;
    max-width: 450px; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: var(--basic);
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    min-width: 250px;

}
.toast-header{
    background-color:  var(--themeColor);
    color:var(--basic);
}

.user,
.credentials,
.lock {
    margin-bottom: 20px; 
    border-bottom: 2px solid black;
    width: 80%; 
    margin: 0 auto 20px auto; 
}
.user:focus-within, 
.credentials:focus-within, 
.lock:focus-within {
    border-bottom: 2px solid var(--themeShade);
}

.user:focus-within svg, 
.credentials:focus-within svg, 
.lock:focus-within svg {
    fill: var(--themeColor); 
    transition: fill 0.3s ease-in-out;
}

label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--labelShade)
}

.naming,
.electronicMail,
.safe {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border-style: none;
    outline: none;
    width: 85%; 
    padding: 5px; 
    font-size: 14px; 
}

input::placeholder {
    color: var(--inputShade) 
}

.member {
    font-size: 14px;
    margin-top: 10px;
}

.member span {
    color: rgb(22, 61, 191);
    cursor: pointer;
    text-decoration: underline; 
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}

.account button {
    background-color: var(--themeColor);
    border-radius: 20px;
    border: none;
    color: var(--basic);
    width: 80%;
    height: 45px;
    font-size: 16px; 
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-bottom: 20px;
}
a{
    text-decoration: none;
}

.account button:hover {
    background-color: var(--themeShade); 
} */
